# Deprecation Notice

This repository will no longer be maintained.
{{#image}}
Images will be further maintained on ICR. You can pull the same by using the command: `docker pull {{image}}:<tag>`
{{/image}}
